@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background-color: #121327;
	/* background-image: url("../imagens/fundo2.png"); */
	background
	background-size: cover;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Montserrat, Georgia;
	color: #FFF;
}

.brilho60{
	width: 100%;
	height: 100%;
	backdrop-filter: brightness(60%);
	position: absolute;
	z-index: 1;
}

.titulo {
	display: block;
	z-index: 2;
	text-shadow: 2px 2px 4px #000;
}

.centralizar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.centralizar_v {
	display: flex;
	align-items: center;
}

.centralizar_h {
	display: flex;
	justify-content: center;
}


/* Para o cabeçalho padrão em todos os projetos */

#cabecalho_padrao {
	background-color: #1C1C1C;
	font-family: Montserrat, Georgia;
}

#cabecalho_padrao a {
	text-decoration: none;
	color: #FFF;
}

#menu_padrao {
	width: 80%;
	display: flex;
	justify-content: flex-end;
}

#menu_padrao a {
	padding: 15px;
	margin: 5px;
}

#menu_padrao a:hover {
	color: #9400EE;
	font-weight: bolder;
}

#logo_padrao {
	width: 20%;
	padding: 0;
	margin: 0 0 0 15px;
}

#logo_padrao a:hover{
	color: #FFF;
}

.clear {
	clear: both;
}

/* Fim cabeçalho padrão */